
body,
.ui {
  font-family: 'Be Vietnam Pro', sans-serif !important;
}
html,
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
}
textarea {
  font-family: 'Be Vietnam Pro', sans-serif !important;
}
.ui.input input::placeholder {
  font-family: 'Be Vietnam Pro', sans-serif !important;
}
input[type="text"]{
  font-family: 'Be Vietnam Pro', sans-serif !important;
}
.header {
  font-family: 'Be Vietnam Pro', sans-serif !important;
}
.ui.list .header {
  font-family: 'Be Vietnam Pro', sans-serif !important;
}
.ui.statistic.label .ui.statistic.value
{
  font-family: 'Be Vietnam Pro', sans-serif !important;
}